.table {
  display: flex;
  flex-flow: column nowrap;
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
  display: flex;
  flex: 1;
}

button {
  margin: 2px 5px;
}

.code p {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border: 2px solid gray;
}

thead {
  background-color: silver;
}

th,
td {
  border: 1px solid gray;
  padding: 2px 10px;
  text-align: right;
}

tbody > tr:nth-of-type(even) {
  background-color: ghostwhite;
}
